<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.studentinfo.mapper.studentMapper">
	<cache eviction="FIFO" flushInterval="60000" size="512"
		readOnly="true" />

	<!-- 查询所有的用户信息 -->
	<select id="selectAll" resultType="Student">
		select id,sname from student
	</select>

	<!-- 查询分页后的用户数据 -->
	<select id="selectStudentInfoPage" parameterType="map"
		resultType="Student">
		select id,sname from student limit #{page},#{pageSize}
	</select>

	<!-- 根据用户id更新数据 -->
	<update id="updateStudentInfo" parameterType="Student">
		update person
		<set>
			<if test="name != null ">
				sname = #{sname},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 根据用户id删除用户信息 -->
	<delete id="deleteStudentInfo" parameterType="Integer">
		delete from student
		where id = #{id}
	</delete>

	<!-- 添加用户的信息 -->
	<insert id="addStudentInfo" parameterType="Student">
		insert into person
		(name) values(#{name})
	</insert>

	<!-- 统计总条数 -->
	<select id="findCount" resultType="Integer">
		select count(*) from student
	</select>

	<!-- 统计总条数 -->
	<select id="selectOne" parameterType="Integer"
		resultType="Student">
		select id,name from student where id = #{id}
	</select>
</mapper>